table{
    border-collapse: collapse;
}

tr:hover{

}

td,th{
    border: solid 1px black;
}

tr:first-child{
    background-color: lightgrey;
}

tr:nth-child(2n){
    background-color: lightblue;
}

tr:hover{
    background-color: aqua !important;
}

.birth-red{
    background-color: rgba(255, 0, 0, 0.577) !important;
}