th{
    border: solid black 1px;
    color: white;
    background-color: gray;
}

td{
    border: solid black 1px;
}

tr:nth-child(odd){
    background-color: lightgrey;
}

tr:hover{
    background-color: green;
}